<div class="first">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12">
        <p><i class="fa fa-envelope"></i> support@bloodsakha.com</p>
      </div>
      <div class="col-md-6 col-12">
        <p><i class="fa fa-phone"></i> Call Now : 0657-2282567</p>
      </div>
    </div>
  </div>
</div>
<div class="toparea">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 col-12">
              <div class="logoarea">
                  <img src="../../assets/logoblood.png">
              </div>
          </div>
          <div class="col-md-9 col-12">
              <div class="menuarea">
                  <nav class="navbar navbar-expand-lg navbar-light bg-navbar">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
                          <span class="fa fa-bars"></span>
                        </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/contact" routerLinkActive="active">bloodSakha FAQ</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" routerLink="/login" routerLinkActive="active">Register</a>
                            </li> -->
                          
                          </ul>
                      </div>
                  </nav>
              </div>
          </div>
          <!-- <div class="col-md-3 col-12">
              <div class="getstartedarea">
                  <div class="getstartarea" *ngIf="status==true; else jsr">
                      <a class="btn" href="#">Login </a>
                  </div>
                  <ng-template #jsr>
                      <a class="btn" href="#">Logout</a>
                  </ng-template>
              </div>
          </div> -->
      </div>
  </div>
</div>