<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>Want to Donate Blood</h4>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right">Blood Donation Camps</i></a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right">Donor Login</i></a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About Blood Donation</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Register VBD Camp</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>Looking For Blood</h4>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blood Stocks</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blood Bank Directory</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blood Request</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>Blood Bank Login</h4>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About bloodSakha</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Notification</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>bloodSakha FAQs</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gallery</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4>About US</h4>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>bloodSakha Login</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Add your Blood Bank</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <h6>Copyright © All right Reversed.Design & Develop by bloodSakha Team</h6>
            </div>
         
        </div>
    </div>
</section>
