<!-- about us area -->
<section class="fiftharea">
    <div class="container">
        <div class="row">
            <div class="title-arch">
                <h1><b></b><span class="servicezone"> About bloodSakha</span></h1>
            </div>
        </div>
    </div>
</section>
<div class="fourtharea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <h6> Blood donation and transfusion service is an indispensable part of contemporary medicine and health care. Blood management has been recognized as a challenging task because of life threatening nature of blood products entails the punctilious administration due to its perishable nature & required timely processing and it also saves the life.

                    Such great challenge has been considerably alleviated with the development of information and computer technology.<br>
                    <br>
                    <span class="bloodsakha">bloodSakha</span> is an integrated blood bank automation system. This web based mechanism inter connects all the Blood Banks of the State into a single network. Integrated Blood Bank MIS refers the acquisition, validation, storage and circulation of various live data and information electronically regarding blood donation and transfusion service. Such system is able to assemble heterogeneous data into legible reports to support decision making from effective donor screening to optimal blood dissemination in the field. Those electronic processes will help the public for easy access to the blood availability status of blood banks on finger tips; so that he can place a requisition of a particular blood group in nearby blood bank (Especially rare groups) save a valuable life.
                    
                    It also provides online status of blood group wise availability of blood units in all the licensed blood banks in the state. 

                </h6>
            </div>
            <div class="col-md-6 col-12">
                <img src='../../assets/blood-donation2.gif'>
            </div>
        </div>
    </div>
</div>
<section class="advantage">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4><span class="zone">bloodSakha major Components for Management of the Blood Donation Life Cycle:</span></h4>
                <h6>* Alert and Notification System.</h6>
                <h6>* Generation of rare blood group donor registries and the generation of regular repeat donors.</h6>
                <h6>* Bio-Medical Waste Management System for disposal of discarded blood and other waste generated during this process.</h6>
                <h6>* A centralized Blood Inventory Management System for keeping track of the blood stock across numerous blood banks.</h6>
                <h6>* It provides features such as blood grouping & component preparation etc. as per the defined processes and rules.</h6>
            </div>
        </div>
    </div>
</section>