<section class="fiftharea">
    <div class="container">
        <div class="row">
            <div class="title-arch">
                <h1><b></b><span class="servicezone"> SERVICES</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12 ">
                <div class="project">
                    <img src="../../assets/donarlogin.png">
                    <p>User <br>(Donor) login<a class="nav-link" routerLink="/eligibility" routerLinkActive="active"></a></p>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-2">
                    <div class="project-hover">
                    <img src="../../assets/eligibility.png">
                        <a class="nav-link" routerLink="/eligibility" routerLinkActive="active"><p>Eligibility Requirements</p></a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-3">
                    <div class="project-hover">
                    <img src="../../assets/bank.png">
                        <a class="nav-link" routerLink="/eligibility" routerLinkActive="active"><p>Register Blood Bank</p></a>">

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-4">
                    <div class="project-hover">
                        <img src="../../assets/aboutblood.png">
                        <a class="nav-link" routerLink="/aboutblood" routerLinkActive="active"><p>Learn About Blood</p></a>">
                    </div>
                </div>
            </div>
            

            </div>
            <div class="clearfix"></div>
        </div>
    
</section>