<section class="whoweare">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="statement">
                    <p>We are here for YOU...!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-contactform></app-contactform>
      </div>
    </div>
  </div>
</section>
<section class="contactarea">
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="contact">
                <h2 class="contact-title">
                  Contact Us
                </h2>
                <div class="contact-form">
                  <label for="name">
                    <span class="input-name">
                      Name:
                    </span>
                    <input type="text" name="name" id="name" class="name">
                  </label>
                  <label for="email">
                    <span class="input-name">
                      Email address:
                    </span>
                    <input type="text" name="email" id="email" class="email">
                  </label>
                  <label for="project-info">
                    <span class="input-name">
                      Message
                    </span>
                    <textarea name="project-info" id="project-info" class="project-info"></textarea>
                  </label>
                  <button class="btn send-btn">
                    Send
                  </button>
                </div>
              </div>
        </div>
    </div>
</div>
</section>
