<section class="fiftharea">
   <div class="container">
      <div class="row">
          <div class="title-arch">
              <h1><b></b><span class="servicezone"> GALLERY</span></h1>
          </div>
      </div>
   </div>
</section>
<section class="galleryarea">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="portfolio-item row">
               <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic1.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
                  <img class="img-fluid" src="../../assets/pic1.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic2.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
                  <img class="img-fluid" src="../../assets/pic2.jpg" alt="">
                  </a>
               </div>
               <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic3.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic4.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic5.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic6.jpg" alt="">
                  </a>
               </div>
               <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic7.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic7.jpg" alt="">
                  </a>
               </div>
               <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic8.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic8.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic9.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic9.jpg" alt="">
                  </a>
               </div>
               <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic10.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic10.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic11.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic11.jpg" alt="">
                  </a>
               </div>
               <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                  <a href="../../assets/pic12.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                  <img class="img-fluid" src="../../assets/pic12.jpg" alt="">
                  </a>
               </div>
              
            </div>
         </div>
      </div>
   </div>
</section>