<div class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="file" (change)="fileChangeEvent($event)" />

<image-cropper 
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage"/>
            </div>
        </div>
    </div>
</div>