<section class="why">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-md-12">
                    <div class="boxarea">
                        <h3>Eligiblity Requirements for Blood Donation---</h3>
                        <p><b>Who are Eligible to Donate Blood?</b><br><br>
                            Any healthy adult, both male and female, can donate every three months<br><br>
                            Good health of the donor must be fully ensured. The universally accepted criteria for donor selection are:<br><br>
                            
                            1. Age between 18 and 60 years<br><br>
                            2. Haemoglobin - not less than 12.5 g/Dl<br><br>
                            3. Pulse - between 50 and 100/minute with no irregularities<br><br>
                            4. Blood Pressure -Systolic 100-180 mm Hg and Diastolic 50 - 100 mm Hg<br><br>
                            5. Temperature - Normal (oral temperature not exceeding 37.50C)<br><br>
                            6. Body weight - not less than 45 Kg<br><br>
                            
                            Health conditions: The donor should be in a healthy state of mind and body.<br><br>
                            
                            They should fulfill the following criteria:<br><br>
                            
                            1. Past one year - not been treated for Rabies or received Hepatitis B immune globulin.<br><br>
                            2. Past six months - not had a tattoo, ear or skin piercing or acupuncture, not received blood or blood products, no serious illness or major surgery, no contact with a person with hepatitis or yellow jaundice.<br><br>
                            3. Past three months - not donated blood or been treated for Malaria.<br><br>
                            4. Past one month - had any immunizations.<br><br>
                            5. Past 48 hours - taken any antibiotics or any other medications (Allopathic or Ayurveda or Sidha or Homeo)<br><br>
                            6. Past 24 hours - taken alcoholic beverages<br><br>
                            7. Past 72 hours - had dental work or taken Aspirin<br><br>
                            8. Present - not suffering from cough, influenza or sore throat, common cold<br><br>
                            9. Women should not be pregnant or breast feeding her child<br><br>
                            10. Women donor should not donate during her menstrual cycles<br><br>
                            11. Free from Diabetes, not suffering from chest pain, heart disease or high BP, cancer, blood clotting problem or blood disease, unexplained fever, weight loss, fatigue, night sweats, enlarged lymph nodes in armpits, neck or groin, white patches in the mouth etc.<br><br>
                            12. Ever had TB, bronchial asthma or allergic disorder, liver disease, kidney disease, fits or fainting, blue or purple spots on the skin or mucous membranes, received human pituitary - growth hormones etc .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
