<section class="why">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="boxarea">
                    <h3>Why to Donate Blood?</h3>
                <p># The most precious gift that one can give to another person is the gift of life i.e. blood. It is the essence of life.<br><br>

                    # Your blood saves more than one life when it is separated into its components (red blood cells, plasma etc.).<br><br>
                    
                    # Blood is needed regularly for patients with diseases such as thalassemia and hemophilia, and also for the treatment of injuries after an accident, major surgeries, anemia, etc.
                    
                    # It improves your health.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boxarea">
                    <h3>Benefits of Donating Blood?</h3>
                <p>Less likely to suffer diseases :<br><br>

                    # Did you know that people who donate blood are 88% less likely to suffer a heart attack and 33% less likely to acquire any type of cardiovascular disease.<br><br>
                    
                    # When you donate blood, it removes 225 to 250 milligrams of iron from your body, hence reducing the risk of heart disease.<br><br>
                    
                    # Blood Center performs numerous tests on the donated blood. Therefore regular blood donation helps in sheilding you from serious diseases.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boxarea">
                    <h3>Facts ABout Blood</h3>
                <p># One unit of donated blood can save up to three lives.<br><br>

                    # You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.<br><br>
                    
                    # Scientists have estimated the volume of blood in the human body to be eight percent of body weight.<br><br>
                    
                    # There are 100,000 miles of blood vessels in an adult human body.<br><br>
                    
                    # A red blood cell can make a complete circuit of your body in 30 seconds.<br><br>
                    
                    # White blood cells make up about 1% of your blood.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boxarea">
                    <h3>Stats About Blood</h3>
                <p>#According to a 2012 World Health Organisation (WHO) report, only nine million units are collected annually, while the need is for 12 million units.<br><br>

                    # Delhi NCR alone faces a shortage of 100,000 units per year.<br><br>
                    
                    # The shelf-life of donated blood is 35 to 42 days. There is a constant need to replenish stocks in our blood banks.<br><br>
                    
                    # Healthy donors are between the age of 18 to 65 years.<br><br>
                    
                    # Statistics show that there are 234 million major operations in India, 63 million trauma-induced surgeries, 31 million cancer-related procedures and 10 million pregnancy related complications which require blood transfusions.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="boxarea">
                    <h3>Before You Donate</h3>
                <p># Donating blood is a safe, simple, and rewarding experience that usually takes 30 minutes.<br><br>
                    
                    # If you have any particular health concerns then inform the blood bank at the time of blood donation.</p>
                </div>
            </div>
        </div>
    </div>
</section>