<section class="secondarea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="../../assets/pic-2.png">
            </div>
        </div>
    </div>
</section>
<section class="fiftharea">
    <div class="container">
        <div class="row">
            <div class="title-arch">
                <h1><b></b><span class="servicezone"> SERVICES</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12 ">
                <div class="project">
                    <img src="../../assets/donarlogin.png">
                    <p>User <br>(Donor) login<a class="nav-link" routerLink="/eligibility" routerLinkActive="active"></a></p>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-2">
                    <div class="project-hover">
                    <img src="../../assets/eligibility.png">
                        <a class="nav-link" routerLink="/eligibility" routerLinkActive="active"><p>Eligibility Requirements</p></a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-3">
                    <div class="project-hover">
                    <img src="../../assets/bank.png">
                        <a class="nav-link" routerLink="/eligibility" routerLinkActive="active"><p>Register Blood Bank</p></a>">

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12 ">
                <div class="project project-4">
                    <div class="project-hover">
                        <img src="../../assets/aboutblood.png">
                        <a class="nav-link" routerLink="/aboutblood" routerLinkActive="active"><p>Learn About Blood</p></a>">
                    </div>
                </div>
            </div>
            

            </div>
            <div class="clearfix"></div>
        </div>
    
</section>
<section class="fiftharea">
    <div class="container">
       <div class="row">
           <div class="title-arch">
               <h1><b></b><span class="servicezone"> GALLERY</span></h1>
           </div>
       </div>
    </div>
 </section>
 <section class="galleryarea">
    <div class="container">
       <div class="row">
          <div class="col">
             <div class="portfolio-item row">
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic1.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
                   <img class="img-fluid" src="../../assets/pic1.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic2.jpg" class="fancylight popup-btn" data-fancybox-group="light"> 
                   <img class="img-fluid" src="../../assets/pic2.jpg" alt="">
                   </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic3.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic4.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic5.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic6.jpg" alt="">
                   </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic7.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic7.jpg" alt="">
                   </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic8.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic8.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic9.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic9.jpg" alt="">
                   </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic10.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic10.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic11.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic11.jpg" alt="">
                   </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
                   <a href="../../assets/pic12.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                   <img class="img-fluid" src="../../assets/pic12.jpg" alt="">
                   </a>
                </div>
               
             </div>
          </div>
       </div>
    </div>
 </section>
<!-- <section class="thirdarea">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>WHAT IS<span class="thirdzone"> FIT- ZONE ?</span></p>
                <h6>A <b>GYM</b> is a club, building, or large room, usually containing special equipment, where
                    people go to do physical exercise and get <b>FIT.</b><br></h6>
                <h6 class="text-secondary"> We provide you by doing Exercise at GYM you can controls weight i.e,
                    help prevent excess weight gain or help maintain weight loss, combats health conditions and
                    diseases, improves moods, boosts energy, better sleep etc,.</h6>
            </div>
        </div>
    </div>
</section>



<!-- <section class="sixtharea">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="text-secondary"><b>FEEL OUR ENERGY</b></p>
                <h4><b>TRAIN FOR <span class="fourthzone"> FREE</span> TODAY</b></h4>
                <br>
                <button type="button" class="btn btn-secondary btn-lg">JOIN US</button>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="contactarea">
        <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="contact">
                    <h2 class="contact-title">
                      Contact Us
                    </h2>
                    <div class="contact-form">
                      <label for="name">
                        <span class="input-name">
                          Name:
                        </span>
                        <input type="text" name="name" id="name" class="name">
                      </label>
                      <label for="email">
                        <span class="input-name">
                          Email address:
                        </span>
                        <input type="text" name="email" id="email" class="email">
                      </label>
                      <label for="project-info">
                        <span class="input-name">
                          Message
                        </span>
                        <textarea name="project-info" id="project-info" class="project-info"></textarea>
                      </label>
                      <button class="btn send-btn">
                        Send
                      </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="seventharea">
    <div id="test">
        <div class="container-fluid _tm-header">
            <h1><b>CLIENT </b><span class="testzone"> TESTIMONIALS</span></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/model.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">It has been almost one year with FIT - ZONE and I have lost weight and increased my
                                strength. I find the coaches – so motivating and supportive. During the shred I
                                worked with Dave and he was very motivating and held me accountable. The nutritional
                                guidance and meal plans are easy to follow that is realistic and plenty of food.
                                Everyone is extremely – REAL – supportive, FUN, KNOWLEDGABLE and challenging.</p>
                            <a href="#" class="">Anita Richards</a>,
                            <span class="_tm-user-role">HR Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/model2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Fitness within is the cleanest and most organized gym I’ve ever
                                seen! I have no words to say how wonderful they are! Domenic makes you feel super
                                comfortable, Kaitlyn helps you eat better and healthy! Fitness Within has a team of
                                excellence! They have a place for anyone, a plan for any goal, everything is very
                                flexible! I am extremely satisfied with Fitness Within and the entire team. 1 to 10.
                                They are 11</p>
                            <a href="#" class="">Vicky Pundit</a>,
                            <span class="_tm-user-role">Sales Executive</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/model3.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Since joining Fitness Within one year ago, I have become stronger
                                and I have lost 38lbs. The workouts are always different, hard and fun! The trainers
                                will push you harder than though you could go.I also signed up for
                                their HYBRID program. I liked knowing you have someone there if you have questions
                                and who is also going to hold you accountable. The meal plans were easy to customize
                                to your personal needs.</p>
                            <a href="#" class="">Lothar Gomez</a>,
                            <span class="_tm-user-role">Athelete</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/model4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">I have been with Fitness Within for one week eith FIT - ZONE. Since joining I am
                                eating healthier and the coaching helps motivate me and the coaches keep encouraging
                                me to do my best!!! I love the cookbook they gave me because the recipes are simple
                                and sooo good. The studio is welcoming, motivating but not intimidating ..... they take
                                the time to explain things in a very positive way.......... Love it!</p>
                            <a href="#" class="">Charlie Brown</a>,
                            <span class="_tm-user-role">Factory Owner</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
